@using WebApplication_CRUD.ViewModels
@model BookViewModel

@{
    ViewBag.Title = "Get";
}

@if (Model == null)
{
    <h2>Get Id of Book.....</h2>
    <div class="row">
        <div class="col-md-8">
            @using (Html.BeginForm("Get", "Book", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <section id="New book">
                <div class="form-group">
                    @Html.LabelFor(m => m.Id, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Get book" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </section>
            }
                <br />
                <a href="@Url.Action("Index", "Book")" class="elements"><span>Back to menu...</span></a>
            </div>
    </div>
}
else
{
    <h2>Book presentation.....</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="New book">
                <div class="form-group">
                    @Html.LabelFor(m => m.Book.Title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Book.Title, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Book.Author, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Book.Author, new { @class = "form-control" })
                    </div>
                </div>
                <div>
                    <a href="@Url.Action("Index", "Book")" class="elements"><span>Back to menu...</span></a>
                </div>
            </section>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}